@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

$score: 'Fredoka One', cursive;
$black: #282a36;
$blue: #44475a;
$light: #f8f8f2;
$pink: #ff79c6;

// Tiles
.tile {
  background-color: $black;
  color: $light;
  font-family: $score;
  .title {
    font-size:40px;
    margin: 20px;
    color: $light;
  }
  .subtitle {
    color: $pink;
    margin: 20px;
  }
  .button {
    background-color: $pink;
    font-family: $score;
    font-size: 40px; 
    color: $light;
    border: 1px solid $pink;
    margin: 10%;
    border-radius: 30px;
  }
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .image {
    height: 300px;
    width:300px;
  }
}

.navigation {
  p {
    font-size: 30px;
    margin: 50px;
  }
  .emoji-nav {
    font-size: 60px;
  }
}


.notification {
  background-color: $blue;
}

// In game
.barStyle {
  position: absolute;
  top: 20px; 
  width: 30px;
  border-radius: 15px
}

.firstBarStyle {
  left: 15px;
  background-color: #fad0c4;
  background-image: linear-gradient(315deg, #fad0c4 0%, #f1a7f1 74%);
}

.secondBarStyle {
  right: 15px;
  background-color: #aff6cf;
  background-image: linear-gradient(315deg, #aff6cf 0%, #9f98e8 74%)
}

.barBorder {
  position: absolute;
  top: 15px;
  width: 40px;
  height: 310px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 20px
}

.firstBarBorder {
  left: 10px;
}

.secondBarBorder {
  right: 10px;
}

.emoji {
  font-size: 40px;
  position: absolute;
  top: 330px
}

.coffeeStyle {
  left: 10px;
}

.parkStyle {
  right: 10px;
}

.pointsStyle {
  position: absolute;
  margin: 0 auto;
  top: 15px; 
  left: 45%;
  h1 {
    font-size:70px;
    color: white;
    font-family: $score;
  }
}

.marker {
  height: 200px;
  width: 270px; 
  margin-top: -80px; 
  margin-left: -80px 
}
